<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Curso-Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>OiMundo</servlet-name>
    <servlet-class>com.andersonmarques.controllers.OiMundo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OiMundo</servlet-name>
    <url-pattern>/oiXML</url-pattern>
  </servlet-mapping>
  
  <!-- Configura o tempo máximo de vida de uma sessão sem novas requisições -->
  <session-config>
    <!-- permite 60 minutos de invatividade antes de remover. -->
    <session-timeout>60</session-timeout>
</session-config>
</web-app>